<%= form_for ([@post, @comment]) do |f|  %>
  <p style="font-size:1.5vw;margin:5px;">
    <%= f.text_field :comment %>
  </p>
  <p style="font-size:1.5vw;margin:5px;">
    <%= f.submit "Add comment" %>
  </p>
<% end %>
