
<header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">Wecome to Inst!</h1>
        <h2 class="masthead-subheading mb-0">Watch all new posts of your friends :)</h2>
        <h2 class="masthead-subheading mb-0">
          <% if current_user %>
           <a>Watch!</a>
          <% else %>
          <%= link_to 'Log in and watch!', new_user_session_path, {:style=>'color:white;', :class => "css_class"}  %> </h2>
          <% end %>
      </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
  </header>
