<div style="font-size:2vw; margin-left:40px; margin-right:30px; margin-top:90px">
<h2 style="font-size:3vw; margin-left:70px;margin-top:90px">Recent posts</h2>

<%= render 'shared/posts', posts: @posts %>
</div>
